// aboutme
#aboutme {
	height: auto;
	.card {
		width: 70vw;
		padding: 20px 40px 20px 40px;
	}
	.title {
		background: $darkgray;
		height: 40px;
		border-radius: 5px;
		padding-left: 30px;
		padding-right: 30px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-weight: 700;
		margin-bottom: 20px;
	}
	.chip {
		background: none;
		border: 1px solid $lightgray;
		color: $white;
		margin-right: 7px;
		height: 28px;
		font-size: 12px;
		transition: 0.3s;
		font-family: inherit;
		font-weight: 500;
	}

	.content {
		margin-top: 20px;
		display: flex;
		justify-content: space-between;
		background: $darkgray;
		padding: 15px;
		border-radius: 5px;
		margin-bottom: 20px;
	}
	.desc {
		width: 75%;
	}

	img {
		border-radius: 5px;
	}
}
