// aboutme
#aboutme {
	height: auto;
	hr {
		border: 1px solid $lightgray;
	}
	p {
		font-size: 15px;
		font-weight: 300;
		word-spacing: 1px;
		text-align: justify;
	}

	.maincard {
		background: $darkgray;
		border-radius: 8px;
		margin: 10px;
		padding: 10px 20px 20px 20px;
	}
	.title {
		height: 30px;
		padding-left: 30px;
		padding-right: 30px;
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		font-weight: 700;
		margin-bottom: 10px;
		& span {
			font-size: 18px;
		}
	}
	.chip {
		background: none;
		color: white;
		margin: 10px;
		margin-bottom: 5px;
		height: 28px;
		font-size: 12px;
		transition: 0.3s;
		font-family: inherit;
		font-weight: 500;
	}

	.content {
		display: flex;
		justify-content: space-between;
		padding: 15px;
		border-radius: 5px;
		align-items: center;
	}
	.desc {
		width: 76%;
	}

	img {
		border-radius: 8px;
		margin-top: 5px;
		margin-left: 10px;
	}
}
