//competence
.competence {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 30px;

	.logo {
		display: flex;
		justify-content: center;
		background: white;
		border-radius: 50%;
		height: 55px;
		width: 55px;
		align-items: center;
		margin: 10px;
		margin-bottom: 30px;
		box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.432);
		transition: 0.3s;
		&:hover {
			transform: scale(1.1);
			box-shadow: 1px 3px 3px 3px rgba(0, 0, 0, 0.3);
		}
	}
	.logo-design img {
		box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.432);
		transition: 0.3s;
		&:hover {
			transform: scale(1.1);
			box-shadow: 1px 3px 3px 3px rgba(0, 0, 0, 0.3);
		}
	}
	& img {
		border-radius: 20%;
	}

	.card-title {
		width: 100%;
		height: auto;
		display: flex;
		border-radius: 5px;
		justify-content: center;
		background: $darkgray;
		margin-bottom: 15px;
		font-weight: 700;
		font-size: 17px;
		padding-top: 10px;
		padding-bottom: 10px;

		& span {
			color: $red;
			margin: 0px 4px 0px 4px;
		}
	}
}
.card {
	border-radius: 5px;
	box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
	transition: box-shadow 0.5s, transform 0.5s;
	will-change: transform;
	background: #333333;
	padding: 10px;
	animation: fadeIn 0.5s;
}
.frontend {
	grid-row: span 1;
	grid-column: span 3;
}
.backend {
	grid-row: span 1;
	grid-column: span 2;
}
.methode {
	grid-row: span 1;
	grid-column: span 1;
}
.design {
	grid-row: span 1;
	grid-column: span 2;
}

.competence .chip {
	font-weight: 400;
	font-family: inherit;
	color: $white;
	margin: 10px 0px 20px 10px;
	background: $red;
	transition: 0.3s;
	box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.3);
}
