// contact
#contact {
	color: $white;
	display: flex;

	flex-direction: column;
	& .card {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin: 20px;
		width: 700px;
		padding: 0;
		& p {
			font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
				sans-serif;
			font-size: 14px;
		}
	}
	& .label {
		background: rgb(92, 3, 119);
		height: 50px;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		width: 120px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 50px;
		font-weight: 600;
		font-size: 15px;
		color: rgb(208, 174, 211);
	}
	& a {
		color: inherit;
	}
}

.foot {
	align-self: center;
	margin-top: 120px;
	color: $lightgray;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 13px;
	word-spacing: 5px;
}
