// Import Google Font 
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800');

$sans-serif: 'Raleway', sans-serif;
$font-light: 400;
$font-bold: 600;

$red: #9b0909;
$orange: #ff8d00;
$yellow: #e1b12c;
$green: #008121;
$blue: #004cff;
$violet: #640274;
$darkgray: #212121;
$gray: #333333;
$lightgray: #494848;
$white: rgb(228, 226, 238);
$shadow: 0px 1px 1px black;
