@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800");
.cover {
  height: 100vh;
  background: #212121;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cover h1 {
  margin-top: -20px;
  color: #e4e2ee;
  font-size: 92px;
}

.cover h1::after {
  content: "It's me!";
  color: #e4e2ee;
  background: #212121;
  left: 275px;
  position: absolute;
  overflow: hidden;
  -webkit-animation: newtext 4s;
          animation: newtext 4s;
}

.cover .line {
  position: relative;
  border-right: 18px solid #494848;
  width: 600px;
  white-space: nowrap;
  overflow: hidden;
}

.cover .typing {
  -webkit-animation: typewriter 5.5s steps(15) 0.5s 1 normal both, blinkCursor 0.8s steps(12) infinite normal;
          animation: typewriter 5.5s steps(15) 0.5s 1 normal both, blinkCursor 0.8s steps(12) infinite normal;
}

.cover .enter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #e4e2ee;
  border-radius: 5px;
  width: 300px;
  height: 25px;
  color: #e4e2ee;
  position: relative;
  text-shadow: 0 0 2px white;
  -webkit-box-shadow: 0px 0px 3px white;
          box-shadow: 0px 0px 3px white;
  opacity: 0;
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
  -webkit-animation: showbutton 1.5s ease-out 6.5s 1 normal forwards;
          animation: showbutton 1.5s ease-out 6.5s 1 normal forwards;
  background: -webkit-gradient(linear, left top, right top, from(rgba(238, 52, 52, 0.795)), color-stop(rgba(240, 157, 80, 0.863)), color-stop(#e1b12c), color-stop(#008121), color-stop(#004cff), to(#640274));
  background: linear-gradient(to right, rgba(238, 52, 52, 0.795), rgba(240, 157, 80, 0.863), #e1b12c, #008121, #004cff, #640274);
}

.cover .enter:hover {
  text-shadow: #fc0 1px 0 10px;
  -webkit-box-shadow: 0px 0px 5px 5px #e4e2ee;
          box-shadow: 0px 0px 5px 5px #e4e2ee;
}

.cover .enter span {
  color: #e4e2ee;
  z-index: 8;
}

.cover .enter .color {
  border: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 2px;
  background: #212121;
  text-align: center;
  overflow: hidden;
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.cover .enter .change {
  -webkit-animation: 1.5s ease-in slidein forwards;
          animation: 1.5s ease-in slidein forwards;
}

@-webkit-keyframes slidein {
  from {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  to {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@keyframes slidein {
  from {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  to {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@-webkit-keyframes showbutton {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes showbutton {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes typewriter {
  0% {
    width: 0;
  }
  32% {
    width: 600px;
  }
  45% {
    width: 600px;
  }
  60% {
    width: 250px;
  }
  78% {
    width: 250px;
  }
  100% {
    width: 600px;
  }
}

@keyframes typewriter {
  0% {
    width: 0;
  }
  32% {
    width: 600px;
  }
  45% {
    width: 600px;
  }
  60% {
    width: 250px;
  }
  78% {
    width: 250px;
  }
  100% {
    width: 600px;
  }
}

@-webkit-keyframes newtext {
  0% {
    width: 0;
  }
  70% {
    width: 0px;
  }
  100% {
    width: 1px;
  }
}

@keyframes newtext {
  0% {
    width: 0;
  }
  70% {
    width: 0px;
  }
  100% {
    width: 1px;
  }
}

@-webkit-keyframes blinkCursor {
  from {
    border-right-color: #494848;
  }
  to {
    border-right-color: #333333;
  }
}

@keyframes blinkCursor {
  from {
    border-right-color: #494848;
  }
  to {
    border-right-color: #333333;
  }
}

#aboutme {
  height: auto;
}

#aboutme hr {
  border: 1px solid #494848;
}

#aboutme p {
  font-size: 15px;
  font-weight: 300;
  word-spacing: 1px;
  text-align: justify;
}

#aboutme .maincard {
  background: #212121;
  border-radius: 8px;
  margin: 10px;
  padding: 10px 20px 20px 20px;
}

#aboutme .title {
  height: 30px;
  padding-left: 30px;
  padding-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 700;
  margin-bottom: 10px;
}

#aboutme .title span {
  font-size: 18px;
}

#aboutme .chip {
  background: none;
  color: white;
  margin: 10px;
  margin-bottom: 5px;
  height: 28px;
  font-size: 12px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-family: inherit;
  font-weight: 500;
}

#aboutme .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  border-radius: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#aboutme .desc {
  width: 76%;
}

#aboutme img {
  border-radius: 8px;
  margin-top: 5px;
  margin-left: 10px;
}

.experience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.card.ex {
  width: 800px;
  height: auto;
  color: #ff8d00;
}

.card.ex img {
  height: 40px;
  position: absolute;
  right: 10%;
  top: 20%;
}

.card.ex img.logoes {
  height: 30px;
}

.card.ex img.logoca {
  height: 80px;
  top: 30%;
}

.twocard {
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.twocard:first-child {
  margin-right: 20px;
}

.twocard:nth-child(2) {
  margin-left: 20px;
}

.twocard .card.orange {
  background: #ff8d00;
  height: 40px;
  margin-bottom: 20px;
}

.twocard .card.gray {
  background: #333333;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.card-ex-content {
  padding: 10px;
  margin: 10px;
}

.card-ex-content .title {
  border-radius: 5px;
  background: #212121;
  color: #f8c383ea;
  padding: 5px 10px 5px 10px;
  font-size: 16px;
  font-weight: 700;
  margin: -5px;
  margin-bottom: 0;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  word-spacing: 3px;
}

.card-ex-content span {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 500;
}

.card-ex-content p {
  color: #f8c383bd;
  font-size: 14px;
}

.card-ex-content p::before {
  content: ' ✦ ';
}

.competence {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.competence .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: white;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.432);
          box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.432);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.competence .logo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 1px 3px 3px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.competence .logo-design img {
  -webkit-box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.432);
          box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.432);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.competence .logo-design img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 1px 3px 3px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.competence img {
  border-radius: 20%;
}

.competence .card-title {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #212121;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 17px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.competence .card-title span {
  color: #9b0909;
  margin: 0px 4px 0px 4px;
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
  -webkit-transition: -webkit-box-shadow 0.5s, -webkit-transform 0.5s;
  transition: -webkit-box-shadow 0.5s, -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s, -webkit-transform 0.5s;
  will-change: transform;
  background: #333333;
  padding: 10px;
  -webkit-animation: fadeIn 0.5s;
          animation: fadeIn 0.5s;
}

.frontend {
  grid-row: span 1;
  grid-column: span 3;
}

.backend {
  grid-row: span 1;
  grid-column: span 2;
}

.methode {
  grid-row: span 1;
  grid-column: span 1;
}

.design {
  grid-row: span 1;
  grid-column: span 2;
}

.competence .chip {
  font-weight: 400;
  font-family: inherit;
  color: #e4e2ee;
  margin: 10px 0px 20px 10px;
  background: #9b0909;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.3);
}

#portfolio {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  width: 100vw;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  grid-gap: 50px;
  color: #e1b12c;
}

#portfolio .content {
  height: 70%;
  border-radius: 5px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 5px;
}

#portfolio .content .filter {
  background-color: #c9c5c541;
  height: 100%;
  opacity: 0;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#portfolio .content .filter button {
  font-size: 13px;
  font-weight: 500;
  color: #333333;
  background: #e1b12c;
  font-family: inherit;
  -webkit-box-shadow: 0px 1px 1px 1px #333333;
          box-shadow: 0px 1px 1px 1px #333333;
}

#portfolio .card {
  background: #333333;
  grid-row: span 1;
  grid-column: span 2;
  overflow: scroll;
  padding-bottom: 15px;
}

#portfolio .card:hover {
  -webkit-box-shadow: 5px 30px 60px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 30px 60px 10px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#portfolio .card:hover .filter {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

#portfolio .text {
  font-size: 12px;
  padding-left: 10px;
}

#portfolio .text.name {
  padding: 10px 0px 10px 10px;
  font-weight: 700;
  font-size: 16px;
}

#portfolio .text.desc {
  font-size: 13px;
  color: #b3b4a8;
}

#portfolio .text.tech {
  padding-top: 5px;
  color: #b3b4a8;
}

#formation {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
  -ms-grid-columns: (1fr)[9];
      grid-template-columns: repeat(9, 1fr);
  grid-column-gap: 3px;
}

#formation .card {
  padding: 15px;
  padding-bottom: 10px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#formation .card:hover {
  -webkit-box-shadow: 5px 30px 60px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 30px 60px 10px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#formation .card .title {
  background-color: #008121;
  color: #e1f3e1;
  font-weight: 600;
  text-align: center;
  border-radius: 2px;
  padding: 5px;
  font-size: 15px;
  -webkit-box-shadow: 0px 1px 1px black;
          box-shadow: 0px 1px 1px black;
}

#formation .card p {
  font-size: 14px;
  margin: 20px 10px -10px 10px;
  color: #a0b9a0;
}

#formation .card .lieu {
  text-align: end;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 600;
  color: #008121;
}

#formation .year {
  grid-row: span 6;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5 / span 1;
  color: #008121;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#formation .f1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
}

#formation .f2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
  -ms-grid-column: 6;
  -ms-grid-column-span: 4;
  grid-column: 6 / span 4;
}

#formation .f3 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / span 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
}

#formation .f4 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / span 1;
  -ms-grid-column: 6;
  -ms-grid-column-span: 4;
  grid-column: 6 / span 4;
}

#formation .f5 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / span 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
}

#formation .f6 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6 / span 1;
  -ms-grid-column: 6;
  -ms-grid-column-span: 4;
  grid-column: 6 / span 4;
}

.divers {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  grid-gap: 30px;
}

.divers .card {
  color: #e4e2ee;
}

.divers .title {
  height: 22px;
  color: white;
  padding-left: 10px;
  font-weight: 500;
  font-size: 14px;
  margin-top: 6px;
  border-radius: 5px;
}

.divers .title::before {
  content: '▪︎  ';
}

.divers p {
  font-size: 13px;
  margin-left: 10px;
  font-weight: 400;
  margin-top: 6px;
  word-spacing: 1px;
  line-height: 1.5;
}

.divers .one {
  grid-row: span 3;
  grid-column: span 2;
  background-size: contain;
  background-position: center;
  background-image: url("https://res.cloudinary.com/dg0flooxn/image/upload/v1577708899/fsx3hibk8umtinxpt5ec.png");
}

.divers .two {
  grid-row: span 1;
  grid-column: span 5;
}

.divers .three {
  grid-row: span 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 4;
  grid-column: 4 / span 4;
}

.divers .four {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3 / span 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4 / span 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.divers .four img {
  margin-bottom: 10px;
  margin-top: 15px;
}

.divers .five {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / span 1;
  -ms-grid-column: 7;
  -ms-grid-column-span: 1;
  grid-column: 7 / span 1;
  background: url("../logo/globalphoto.png");
  background-size: auto 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #181833;
}

.divers .six {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / span 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / span 1;
  background-size: contain;
  background-color: #003c6c;
}

.divers .six::after {
  content: '';
  background: url("../logo/ravenclawlogo.png");
  border-radius: 5px;
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-size: cover;
  background-position: center;
  -webkit-transition: opacity 0.6s ease-in-out;
  transition: opacity 0.6s ease-in-out;
}

.divers .six:hover::after {
  opacity: 0.9;
}

.divers .seven {
  grid-row: span 1;
  grid-column: span 3;
}

.divers .eight {
  background: #002a4b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.divers .eight p {
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.divers .eight:hover p {
  opacity: 1;
}

#contact {
  color: #e4e2ee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
  width: 700px;
  padding: 0;
}

#contact .card p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 14px;
}

#contact .label {
  background: #5c0377;
  height: 50px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 50px;
  font-weight: 600;
  font-size: 15px;
  color: #d0aed3;
}

#contact a {
  color: inherit;
}

.foot {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 120px;
  color: #494848;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  word-spacing: 5px;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 0px 1px 1px black;
  cursor: default;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  text-decoration: none;
}

button.MuiButton-root {
  text-transform: none;
  font-weight: 700;
  font-size: 12px;
  color: #e4e2ee;
  font-family: "Raleway", sans-serif;
  text-shadow: 0px 1px 1px black;
}

button.MuiButton-root.target {
  text-shadow: #111111 3px 0 10px;
}

button.aboutme.target {
  color: #fff;
}

button.MuiButton-root.competences:hover,
button.competences.target {
  color: #c70505;
}

button.MuiButton-root.experiences:hover,
button.experiences.target {
  color: #ff8d00;
}

button.MuiButton-root.portfolio:hover,
button.portfolio.target {
  color: #e1b12c;
}

button.MuiButton-root.formations:hover,
button.formations.target {
  color: #008121;
}

button.MuiButton-root.divers:hover,
button.divers.target {
  color: #004cff;
}

button.MuiButton-root.contact:hover,
button.contact.target {
  color: #9c27b0;
}

.page {
  padding: 0 !important;
  background: #212121;
  min-height: 100vh;
  min-width: 100vw;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background: #333333;
  padding: 8px;
  -webkit-box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.3);
  z-index: 200;
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
  -webkit-transition: -webkit-box-shadow 0.5s, -webkit-transform 0.5s;
  transition: -webkit-box-shadow 0.5s, -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s, -webkit-transform 0.5s;
  will-change: transform;
  background: #333333;
  padding: 10px;
  -webkit-animation: fadeIn 0.5s;
          animation: fadeIn 0.5s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.card.contact:hover {
  -webkit-box-shadow: 5px 30px 60px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 30px 60px 10px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.chip {
  -webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.chip:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 1px 3px 3px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 3px 3px 3px rgba(0, 0, 0, 0.3);
}
/*# sourceMappingURL=index.css.map */