@import url("https://fonts.googleapis.com/css?family=Raleway:400,600");
body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  text-decoration: none;
}

button.MuiButton-root {
  text-transform: none;
  font-weight: 550;
  font-size: 12px;
  color: #fff;
}

button.aboutme {
  color: #fff;
}

button.MuiButton-root.competences:hover,
button.competences.target {
  color: #9b0909;
}

button.MuiButton-root.experiences:hover,
button.experiences.target {
  color: #ff8d00;
}

button.MuiButton-root.portfolio:hover,
button.portfolio.target {
  color: #e1b12c;
}

button.MuiButton-root.formations:hover,
button.formations.target {
  color: #008121;
}

button.MuiButton-root.divers:hover,
button.divers.target {
  color: #004cff;
}

button.MuiButton-root.contact:hover,
button.contact.target {
  color: #9c27b0;
}

.page {
  padding: 0;
  background: #212121;
  min-height: 100vh;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background: #333333;
  padding: 8px;
  -webkit-box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.3);
  z-index: 200;
}

#competence {
  padding: 0px 50px 0px 50px;
  display: -ms-grid;
  display: grid;
  height: 90vh;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
  -webkit-transition: -webkit-box-shadow 0.5s, -webkit-transform 0.5s;
  transition: -webkit-box-shadow 0.5s, -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s, -webkit-transform 0.5s;
  will-change: transform;
  background: #333333;
  padding: 10px;
  -webkit-animation: fadeIn 0.5s;
          animation: fadeIn 0.5s;
}

.card.frontend {
  grid-row: span 2;
  grid-column: span 3;
}

.card.backend {
  grid-row: span 2;
  grid-column: span 2;
}

.card.methode {
  grid-row: span 2;
  grid-column: span 1;
}

.card.design {
  grid-row: span 2;
  grid-column: span 2;
}

.card-title {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #212121;
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 15px;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.card:hover {
  -webkit-box-shadow: 5px 30px 60px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 30px 60px 10px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.card.ex {
  width: 800px;
  height: auto;
  color: #ff8d00;
  margin-bottom: 30px;
}

.card-ex-content {
  padding: 10px;
  margin: 10px;
}

.card-ex-content .title {
  background: #ff8d00;
  padding: 3px;
  font-size: 15px;
}

.MuiChip-root {
  color: #e4e2ee;
  margin: 0px 10px 10px 10px;
  background: #9b0909;
  -webkit-box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

#portfolio {
  padding: 0px 50px 0px 50px;
  display: -ms-grid;
  display: grid;
  height: 100vh;
  width: 100%;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  grid-gap: 50px;
  color: #333333;
}

#portfolio .content {
  height: 75%;
  width: 100%;
  border-radius: 5px;
  background: #333333;
}

#portfolio .card {
  background: #e1b12c;
}

#portfolio .port4 {
  grid-row: span 1;
  grid-column: span 2;
  -webkit-transform: rotate(-8deg);
          transform: rotate(-8deg);
}

#portfolio .port4:hover {
  -webkit-transform: none;
          transform: none;
}

#portfolio .port5 {
  grid-row: span 1;
  grid-column: span 2;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

#portfolio .port5:hover {
  -webkit-transform: none;
          transform: none;
}

#portfolio .port6 {
  grid-row: span 1;
  grid-column: span 2;
  -webkit-transform: rotate(7deg);
          transform: rotate(7deg);
}

#portfolio .port6:hover {
  -webkit-transform: none;
          transform: none;
}

#portfolio .port1 {
  grid-row: span 1;
  grid-column: span 2;
}

#portfolio .port2 {
  grid-row: span 1;
  grid-column: span 2;
}

#portfolio .port3 {
  grid-row: span 1;
  grid-column: span 2;
}

#formation {
  height: 80vh;
  color: #e4e2ee;
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  grid-gap: 0px;
}

#formation .card .title {
  background: #008121;
  width: auto;
  border-radius: 2px;
  padding: 5px;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#formation .card p {
  color: #008121;
}

#formation .year {
  grid-row: span 6;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / span 1;
  color: #008121;
  font-weight: 600;
}

#formation .f1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
}

#formation .f2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-column: 5 / span 3;
}

#formation .f3 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / span 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
}

#formation .f4 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / span 1;
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-column: 5 / span 3;
}

#formation .f5 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / span 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
}

#formation .f6 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6 / span 1;
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-column: 5 / span 3;
}

#contact {
  height: 40vh;
  color: #e4e2ee;
  display: -ms-grid;
  display: grid;
  width: 80%;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  padding-top: 50px;
}

#contact .card {
  background: #640274;
  font-family: Arial, Helvetica, sans-serif;
}
/*# sourceMappingURL=index.css.map */