// Import Google Font - Raleway 300 & 700
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800');

// ===================
// Font and color variables
// ===================

// Fonts
$sans-serif: 'Raleway', sans-serif;
$font-light: 400;
$font-bold: 600;

$red: #9b0909;
$orange: #ff8d00;
$yellow: #e1b12c;
$green: #008121;
$blue: #004cff;
$violet: #640274;
$darkgray: #212121;
$gray: #333333;
$lightgray: #494848;
$white: rgb(228, 226, 238);
$shadow: 0px 1px 1px black;

body {
	margin: 0;
	font-family: $sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-shadow: $shadow;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
	text-decoration: none;
}

button.MuiButton-root {
	text-transform: none;
	font-weight: 600;
	font-size: 12px;
	color: #fff;
	font-family: $sans-serif;
}

button.aboutme {
	color: #fff;
}

button.MuiButton-root.competences:hover,
button.competences.target {
	color: $red;
}

button.MuiButton-root.experiences:hover,
button.experiences.target {
	color: $orange;
}

button.MuiButton-root.portfolio:hover,
button.portfolio.target {
	color: $yellow;
}

button.MuiButton-root.formations:hover,
button.formations.target {
	color: $green;
}
button.MuiButton-root.divers:hover,
button.divers.target {
	color: $blue;
}
button.MuiButton-root.contact:hover,
button.contact.target {
	color: #9c27b0;
}
.page {
	padding: 0;
	background: $darkgray;
	min-height: 100vh;
}
.navbar {
	position: sticky;
	top: 0px;
	background: $gray;
	padding: 8px;
	box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.3);
	z-index: 200;
}

//competence
#competence {
	display: grid;
	height: 100vh;
	grid-template-rows: repeat(4, 1fr);
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 40px;
}
.card {
	border-radius: 5px;
	box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
	transition: box-shadow 0.5s, transform 0.5s;
	will-change: transform;
	background: #333333;
	padding: 10px;
	animation: fadeIn 0.5s;

	&.frontend {
		grid-row: span 2;
		grid-column: span 3;
	}
	&.backend {
		grid-row: span 2;
		grid-column: span 2;
	}
	&.methode {
		grid-row: span 2;
		grid-column: span 1;
	}
	&.design {
		grid-row: span 2;
		grid-column: span 2;
	}
}
.card-title {
	width: 100%;
	height: auto;
	display: flex;
	border-radius: 5px;
	justify-content: center;
	background: $darkgray;
	margin-bottom: 20px;
	font-weight: 800;
	font-size: 17px;
	padding-top: 10px;
	padding-bottom: 10px;

	& span {
		color: $red;

		margin: 0px 4px 0px 4px;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.card:hover {
	box-shadow: 5px 30px 60px 10px rgba(0, 0, 0, 0.3);
	transform: scale(1.1);
}
.card.ex {
	width: 800px;
	height: auto;
	color: $orange;
	margin-bottom: 30px;
}

.card-ex-content {
	padding: 10px;
	margin: 10px;
	& .title {
		background: $orange;
		padding: 3px;
		font-size: 15px;
	}
}

.MuiChip-root {
	color: $white;
	margin: 0px 10px 10px 10px;
	background: $red;
	box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

//cover
.cover {
	height: 100vh;
	background: $darkgray;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	& h1 {
		margin-top: -20px;
		color: $white;
		font-size: 92px;
	}
	& h1::after {
		content: "It's me!";
		color: $white;
		background: $darkgray;
		left: 275px;
		position: absolute;
		overflow: hidden;
		animation: newtext 4s;
	}
	& .line {
		position: relative;
		border-right: 18px solid $lightgray;
		width: 600px;
		white-space: nowrap;
		overflow: hidden;
	}
	& .typing {
		animation: typewriter 5.5s steps(15) 0.5s 1 normal both, blinkCursor 0.8s steps(12) infinite normal;
	}
	& .enter {
		display: flex;
		cursor: pointer;
		justify-content: center;
		align-items: center;
		border: 1px solid $white;
		border-radius: 5px;
		width: 300px;
		height: 25px;
		color: $white;
		position: relative;
		text-shadow: 0 0 2px white;
		box-shadow: 0px 0px 3px white;
		opacity: 0;
		animation: showbutton 1.5s ease-out 6.5s 1 normal forwards;
		background: linear-gradient(to right, $red, $orange, $yellow, $green, $blue, $violet);
		&:hover {
			text-shadow: 0 0 5px white;
			box-shadow: 0px 0px 5px 1px white;
		}

		& span {
			color: $white;
			z-index: 8;
		}
		& .color {
			cursor: pointer;
			border: none;
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			border-radius: 5px;
			background: $darkgray;
			text-align: center;
			overflow: hidden;
			transform-origin: top right;
		}
		& .change {
			animation: 1.5s ease-in slidein forwards;
		}
	}
}
@keyframes slidein {
	from {
		transform: scaleX(1);
	}
	to {
		transform: scaleX(0);
	}
}
@keyframes showbutton {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes typewriter {
	0% {
		width: 0;
	}
	32% {
		width: 600px;
	}
	45% {
		width: 600px;
	}
	60% {
		width: 250px;
	}
	78% {
		width: 250px;
	}
	100% {
		width: 600px;
	}
}
@keyframes newtext {
	0% {
		width: 0;
	}
	70% {
		width: 0px;
	}
	100% {
		width: 1px;
	}
}
@keyframes blinkCursor {
	from {
		border-right-color: $lightgray;
	}
	to {
		border-right-color: $gray;
	}
}

// aboutme
#aboutme {
	height: 100vh;
}

// ------------------portfolio
#portfolio {
	display: grid;
	height: 100vh;
	width: 100vw;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 50px;
	color: $yellow;
	& .content {
		height: 70%;
		width: 100%;
		border-radius: 5px;
		background: $gray;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		& .filter {
			background-color: #c9c5c541;
			height: 100%;
			opacity: 0;
			border-radius: 5px;
			display: flex;
			justify-content: flex-end;
			align-items: flex-end;
			& button {
				font-size: 13px;
				font-weight: 500;
				color: $gray;
				background: $yellow;
				font-family: inherit;
				box-shadow: 0px 1px 1px 1px $gray;
			}
		}
	}
	& .card {
		background: $gray;
		grid-row: span 1;
		grid-column: span 2;

		&:hover .filter {
			opacity: 1;
			transition: opacity 0.3s ease-out;
		}
	}
	& .text {
		font-size: 12px;
		padding-left: 10px;
	}
	& .text.name {
		padding: 10px 0px 10px 10px;
		font-weight: 700;
		font-size: 16px;
	}
	& .text.desc {
		font-size: 13px;
		color: #b3b4a8;
	}
	& .text.tech {
		padding-top: 5px;
		color: #b3b4a8;
	}
}

// formtaion
#formation {
	display: grid;
	grid-template-rows: repeat(6, 1fr);
	grid-template-columns: repeat(9, 1fr);
	grid-column-gap: 3px;

	& .card {
		padding: 12px;

		& .title {
			background-color: $green;
			color: rgb(225, 243, 225);
			font-weight: 600;
			text-align: center;
			border-radius: 2px;
			padding: 5px;
			font-size: 15px;
			box-shadow: $shadow;
		}
		& p {
			font-size: 13px;
			margin: 20px 10px -10px 10px;
			color: rgb(146, 168, 146);
			font-weight: 400;
		}
		& .lieu {
			text-align: end;
			margin-top: 30px;
			margin-bottom: 10px;
			font-weight: 600;
			color: #339a4d;
		}
	}

	& .year {
		grid-row: span 6;
		grid-column: 5 / span 1;
		color: $green;
		font-weight: $font-bold;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}
	& .f1 {
		grid-row: 1 / span 1;
		grid-column: 1 / span 4;
	}
	& .f2 {
		grid-row: 2 / span 1;
		grid-column: 6 / span 4;
	}
	& .f3 {
		grid-row: 3 / span 1;
		grid-column: 1 / span 4;
	}
	& .f4 {
		grid-row: 4 / span 1;
		grid-column: 6 / span 4;
	}
	& .f5 {
		grid-row: 5 / span 1;
		grid-column: 1 / span 4;
	}
	& .f6 {
		grid-row: 6 / span 1;
		grid-column: 6 / span 4;
	}
}

// contact
#contact {
	height: 100vh;
	color: $white;
	display: grid;
	width: 100vw;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 50px;
	padding-top: 50px;
	& .card {
		background: $violet;
		font-family: Arial, Helvetica, sans-serif;
	}
}
